.btn {
    background-color: rgb(84, 209, 84);
    color: #FFFFFF;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all ease .5s;
}
.btn:hover{
    background-color: rgb(84, 180, 84);
}
